.chartPlace {
    background: white;
    padding:100px 50px;
    box-sizing: border-box;
    width:65%;
    height: 800px;
    float: left;
    box-sizing: border-box;
    background: #626262;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chartWrapper {
    background: #424242;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:4%;
    border:solid 2px #40C4FF;
    width: auto;
}
