.menuBar {
    width:15%;
    float: left;
    height: 800px;
    overflow: scroll;
    background: silver;
    padding-top:20px;
    box-sizing: border-box;
}

.menuBarPoint {
    width: 100px;
    height: 100px;
    border: solid black 1px;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #696969;
}
.menuBarGroup {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}
.menuBarGroup > a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:white;
    font-size: 15px;
    font-weight: 300;
}
