.settingsTabsButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #212121;
  color:white;
  height: 30px;
  border-bottom: solid #424242 1px;
}
