.settingsMenu {
  width: 20%;
  height: 800px;
  background: #424242;
  color:silver;
  float: left;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}
.settingsMenuContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
